@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color-gray: #3E3E3E;

    --red: #F55A4D;
  
    --blue: #13287E;
  
    --primary-green: #8FC043;
  
    --secondary-green: #72BF00;
  
    --light-green-50: #F4F9EC;
  
    --light-green-200: #CBE2A9;

    --dark-blue: #002838
  
    
  }
  .card {
    @apply rounded-lg gap-5 drop-shadow-sm
  }
  .charts{
    @apply rounded-2xl 
  }
  .title{
    @apply text-dark-blue text-2xl laptop:text-3xl capitalize font-extrabold
  }
  .title-secondary{
    @apply text-black text-xl font-semibold
  }
  .text {
    @apply text-text-primary font-medium text-base laptop:text-lg
  }
  .label {
    @apply text-primary-green text-lg font-medium 
  }

}  


@font-face {
  font-family: 'bb-title';

  src: url(../src/assets/fonts/BancoDoBrasilTitulos-Bold.ttf);
}

@font-face {
  font-family: 'bb-text';
  src: url(../src/assets/fonts/BancoDoBrasilTextos-Regular.ttf);
}